@model Du_An_Web_Ban_Khoa_Hoc.Models.Student

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Student</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EnrollmentCount)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EnrollmentCount)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CompletedCourses)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CompletedCourses)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TotalCertificates)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TotalCertificates)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LastActive)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LastActive)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StudentNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StudentNavigation.UserId)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.StudentId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
