@model Du_An_Web_Ban_Khoa_Hoc.Models.Instructor

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Instructor</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Expertise)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Expertise)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Biography)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Biography)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ExperienceYears)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ExperienceYears)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Education)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Education)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Certifications)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Certifications)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RatingAverage)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RatingAverage)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TotalStudents)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TotalStudents)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TotalCourses)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TotalCourses)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Earnings)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Earnings)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PayoutMethod)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PayoutMethod)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PayoutAccount)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PayoutAccount)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.VerificationStatus)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.VerificationStatus)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LastPayoutDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LastPayoutDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LinkedInUrl)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LinkedInUrl)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FacebookUrl)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FacebookUrl)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.YouTubeUrl)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.YouTubeUrl)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Xurl)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Xurl)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.InstructorNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.InstructorNavigation.UserId)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.InstructorId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
